@model handling_projects.Models.Tim
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4>Novi projekt</h4>
<hr />


@using (Html.BeginForm("Save", "Project", FormMethod.Post))
{
    <div class="form-group form-inline">
        @Html.LabelFor(t => t.imeTima)
        @Html.TextBoxFor(t => t.imeTima, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.imeTima)
    </div>
    <div class="form-group form-inline">
        @Html.LabelFor(t => t.naslovAplikacije)
        @Html.TextBoxFor(t => t.naslovAplikacije, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.naslovAplikacije)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.opisAplikacije)
        @Html.TextAreaFor(t => t.opisAplikacije, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.opisAplikacije)
    </div>

    <button type="submit" class="btn btn-primary">Napravi novi projekt</button>
    
    @Html.ValidationSummary(true, "Podaci nisu ispravno upisani!");
}

