@model handling_projects.Models.Project
@{
    ViewBag.Title = "Profile";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h4>Tim @Model.team.imeTima</h4>
        <h4>Aplikacija @Model.team.naslovAplikacije</h4>
        <br />
        <p>@Model.team.opisAplikacije</p>
        <br />

        Vođa Tima:
        <br />
        <br />
        <ul class="list-group">
            <li class="list-group-item">
                @Model.leader.imePrezime | @Model.leader.jmbag
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        Članovi tima:
        <br />
        <br />
        <ul class="list-group">
            @foreach (var user in Model.members)
            {

                <li class="list-group-item">
                    @user.imePrezime | @user.jmbag
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4">
        Zahtjevi za ulazak u tim:
        <br />
        <br />
        <ul class="list-group">
            @foreach (var user in Model.joinRequests)
            {
                <li class="list-group-item">
                    @user.imePrezime | @user.jmbag
                </li>
            }
        </ul>
    </div>
</div>
@if ((@Model.team.idStatusa == 1) && (@Model.perspectiveId != @Model.leader.idKorisnickiRacun) )
{
    @Html.ActionLink("Join", "Send", "Request", new { idUser = Model.perspectiveId, idTeam = Model.team.idTima }, new { @class = "btn btn-success" });
}
@foreach (var user in Model.members)
{
    if ((user.idKorisnickiRacun == Model.perspectiveId))
   {
       @Html.ActionLink("Izađi", "RemoveUser", "Project", new { idUser = Model.perspectiveId }, new { @class = "btn btn-danger" });
   }
}
